*{	
	margin:0;
	padding:0;
    box-sizing: border-box;
}
/*-------------navbar----------------*/
#nav-bar
{	position:sticky;
	top=0;
	z-index:10;
}
.navbar-brand img
{	height:40px;
	padding-left:30px;
}
.navbar-nav li
{	padding:0 10px
}
.navbar-nav li a
{	 float:right;
	text-align:left;
}
#nav-bar ul li a:hover
{
	color:#800000;
}
.navbar
{  background:#fff; 
}
.navbar-toggler
{
    border:none;
}
.nav-link
{
    color:#555;
    font-weight:600;
}
<!-----------------slider-------------->
#slider
{
    width:100%;
}
.carousel-caption
{
    top:50%;
    transform:translateY(-50%);
    bottom:initial;
}
.carousel-caption h5
{
    color:#fff;
    font-size: 42px;
    
}
.carousel-caption h6
{
    color:#00ffff;
    font-size: 42px;
}
.carousel-caption h7
{
    color:#f08080;
    font-size: 42px;
}
.button {
  display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color:#fff;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;
    margin-left: 240px;
	position:absolute;
    top:20%;
    float:right;
    
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button {
  display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color:#fff;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;
	position:absolute;
	left:140px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*==========Product  Section===========*/
.bg-img{
    background:#000;
  }
  .text-color{
    color: #fe9801;
  }
  .product-section h2{
    font-style: normal;
    font-size: 40px;
  }
  .product {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    transition: all 0.3s ease; }
  
    .product .img {
      display: block;
      border-radius: 4px;
      height: 350px;
      position: relative;
      transition: all 0.3s ease;
      z-index: 0; }
      .product .img:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #000;
        opacity: 0;
        border-radius: 4px;
        transition: all 0.6s ease; }
      .product .img .icons {
       transition: all 0.3s ease;
        opacity: 0; }
        .product .img .icons .icon-block a {
          margin: 0 2px;
          width: 60px;
          height: 60px;
          border: 1px solid rgba(255, 255, 255, 0.5); }
          .product .img .icons .icon-block a i {
            color: #fff; }
        .product .text {
      padding: 20px;
      position: relative; }
      .product .text .out, .product .text .day, .product .text .week {
        position: absolute;
        top: 0;
        left: 4px;
        font-size: 12px;
        padding: 0 10px;
        color: #fff; }
      .product .text .out {
        background: #b7472a; }
      .product .text .day {
        background: #fe9801; }
      .product .text .week {
        background: #01d28e; }
      .product .text h2 {
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 300; }
      .product .text .category {
        font-style: normal;
        color: #fe9801; }
      .product .text .price {
        font-style: normal;
        color: #fff; }
        .product:hover .img:after {
            opacity: .7; }
          .product:hover .img .icons {
            opacity: 1; }
  
  .glow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
  }
  .glow:hover, .glow:focus, .glow:active {
    box-shadow: 1px 1px 8px rgb(236, 117, 5);
  }
   .btn-prod{
       display:inline-block;
       vertical-align: middle;
       color: #fe9801!important;
       transform: perspective(1px) translateZ(0);
       box-shadow: 0 0 1px rgb(236, 117, 5);
       position: relative;
       overflow: hidden;
   }   
   .btn-prod:before{
       content:"";
       position: absolute;
       z-index: -1;
       left: 51%;
       right: 51%;
       top: 0;
       background: #fe9801;
       height: 4px;
       transition-property: left, right;
       transition-duration: 0.3s;
       transition-timing-function: ease-out;
   }

   .btn-prod:hover:before, .btn-prod:focus:before,
   .btn-prod:active:before{
       left:0;
       right: 0;
   }
/*==========End of Product Section===========*/
/*==========Cards Section========*/
#food{
    padding: 20px ;
}
.food-container{
     max-width: 20vw;
    margin: 0 auto;
}
.food-card{
    position: relative;
    background: linear-gradient(rgba(205, 96, 0, 0.7),rgba(205,96,0,0.7));
   margin:1em 25em 5em;
    color: #000;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    border: 1px solid orange;
    box-shadow: 2px 3px 1px 1px #cd6100;
    width:500px;
    height:500px;
}

#food img{
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 4s;
}

.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;

}
.img-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: #000;
    transition: opacity 4s;
}
.img-text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.food-card:hover img{
    opacity: 0.4;
    transform: scale(1.3);
}
.food-card:hover .img-text,
.food-card:hover  .img-footer{
    opacity:1;
}
.food-btn{
    display: inline-block;
    background:#000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 32px;
    color: #fff;
    font-weight: bold;
    border-radius: 180px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    font-size:18px;
    outline:none;
}
.food-btn:hover{
    color: orange;
    background:#ffff;
    border: #000;
    outline: none;
}
.fas{
    font-size: 30px;
}
@media screen and (min-width: 576px){
    .food-container{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-column-gap: 16px;
    }
}
@media screen and (min-width: 992px){
    .food-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap:16px ;
    }
}
/*========End of Cards Section=======*/
<!-----------services--------------------->
#about{
    padding: 40px;
}
.ser h2
{   font-size: 250%;
    color:#000;
	text-align: center;
    display:block;
	font-family: "Garamond";
    margin:20px auto 5px;
}
.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
    font-size: 60px;
    color: orange;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover{
 transition: transform 2s ease, color 2s ease;
 transform: translateY(-10px);
    color: #cd6100;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
<!-------------about---------------->
.chef h2 {
    color: #000;
  }
.text-center
{
    font-size: 250%;
    color:#000;
	text-align: center;
    display:block;
	font-family: "Garamond";
    margin:20px auto 5px;
}
  
  .chef .col-sm-3 {
    padding: 0;
  }
  
  .chef .card > a {
    display: block;
  }
  
  .chef .card img {
    width: 100%;
  }
  
  .chef .card h4 {
    color: #fff;
    text-transform: uppercase;
  }
  
  .chef .card p {
    font-size: 11px;
    color: #fff;
    opacity: .75;
    margin: 0;
    padding: 0 35px;
  }
  
  .chef .card .social-nav {
    margin-bottom: 45px;
  }
  
  .chef .card .social-nav a {
    color: #fff;
    font-size: 16px;
    margin: 0 4px;
  }
  
  .chef .card .social-nav a:hover {
    opacity: .75;
  }
  
  .chef .card:hover .chef-over {
    opacity: 1;
    visibility: visible;
  }
  
  .chef .card:hover .card-title-wrap {
    background-color: #fe9801;
  }
  
  .chef .card:hover .card-title-wrap .card-title,
  .chef .card:hover .card-title-wrap .card-text {
    color: #fff;
  }
  
  .chef .chef-over {
    padding-top: 45px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  
  .chef .card-title-wrap {
    padding: 15px 25px;
    position: relative;
    z-index: 9;
    background-color: #fff;
  }
  
  .chef .card-title-wrap .card-title,
  .chef .card-title-wrap .card-text {
      display: block;
    margin: 0;
  }
  
  .chef .card-title-wrap .card-title {
    font-size: 24px;
    color: #000;
  }
  
  .chef .card-title-wrap .card-text {
    font-size: 18px;
    color: #000;
  }
/*==========End of  Team  Section===========*/
.variety{
    padding-bottom: 40px;
}
.variety .card{
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}
.variety .card-img{
    width: calc(100% + 60px);
    margin-left:-30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}
.variety .card-img img{
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}
.variety .card-body{
    z-index: 10;
    background: #ff9b04a6;
    border-top:4px solid #f08902;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(241, 159,5, 0.5 );
    margin-top: -60px;
    transition: 0.3s;
}
.variety .card-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.variety .card-title a{
    color: #fff;
    transition: 0.3s;
}
.variety .card-text{
    color: #000;
}
.variety .read-more a{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    transition: 0.3s;
}
.variety .read-more a:hover{
    color: #854101;
}

.variety .card:hover img{
    transform: scale(1.1);

}
.variety .card:hover .card-body{
    border-color: #fdc134;
}
.variety .card:hover  .card-body .card-title a{
    color: #854101;
}
/*==========End of Variety-----------------*/
#contacts
{
    padding: 40px;
}
.contact-form{
  margin:0 10em 0 10em;
    width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  margin-left: 310px;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn {
  display: inline-block;
  padding: 14px 0;
 margin-top: 8px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid orange;
  border-radius: 200px;
  
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
 
  transform: translateY(4px);
}

/*------------------------end of get in touch---------------*/
/*==========Social Icons====*/

#social-icons{
 height: 150px;
   background:#fff;
    text-align: center;
   /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);*/
    padding: 50px 0 50px 0;
}
#social-icons a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius:5px;
    transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover{
    transform: translateY(-20px);
}
.facebook{
    color: #3b5998;
}
.twitter{
  color:  #38A1F3;
}
.instagram{
 color:   #e1306c;
}
.plus{
    color:#db4a39;
}
/*====end of Social Icons======*/
.testimonials{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
<!------------------------------------------------------------------->
/*==========Footer========*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-bottom{
    background: #ffa500;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
<!----------------------------------------------------------------->
